/* general styles */

* {
	font-family: helvetica, arial, sans-serif;
}


}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: auto;
	background-color: aquamarine;
}
h1 {
	margin: 0;
	color: #fff;
}
h2,
h3,
h4,
h5,
h6 {
	color: lightgreen;
}
h3 + h4 {
	margin-top: 0.5em;
}
header,
footer {
	background: black;
	color: #fff;
	padding: 1em;
	width: inherit;
}
footer {
	margin-top: 1em;
	bottom: 0;
	padding-left: 0;
	width: inherit;
}
footer ul {
	text-align: center;
	margin: 0;
}
footer ul li {
	display: inline;
	margin-right: auto;
	margin-left: auto;
}
main {
	width: 70%;
	margin: auto;
	margin-bottom: -1em;
	background-color: white;
	padding: 1em;
	border-right: inset green;
	border-left: inset aquamarine;
}
img {
	height: auto;
	max-width: 100%;
	max-height: 300px;
}

/* navigation */
nav {
	background-color: black;
	width: 100vw;
	margin: 0;
}
nav ul {
	font-family: Roboto Slab, sans-serif;
	text-align: center;
}
nav ul li {
	list-style: none;
	display: inline-flex;
	margin: auto;
}
nav li a {
	color: ghostwhite;
	background-color: black;
	padding: 0.75em;
}
nav li a:visited {
	color: ghostwhite;
}
nav li a:hover {
	color: darkred;
	background-color: white;
}
nav li a:focus {
	color: darkred;
	background-color: ghostwhite;
}
nav li a:active {
	color: black;
	background-color: ghostwhite;
}

/* link styles */
a:link {
	color: darkgreen;
}
a:visited {
	color: darkseagreen;
}
a:focus {
	color: green;
}
a:hover {
	color: greenyellow;
}
a:active {
	color: blueviolet;
}
