html {
	font-family: arial, helvetica, sans-serif;
	/* Other Fonts to Use
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Rubik Mono One', sans-serif;
	font-family: 'PT Serif', serif; */
}


/* layout styles */

html,
body {
	height: 100%;
	font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Roboto Slab;
}

#wrapper {
	min-height: 100%;
	height: auto;
}

#content {
	width: 85%;
	min-height: calc(100vh - 270px);
	margin: auto;
	padding: 0.5em;
}

main,
#display {
	width: 90%;
	margin: auto;
}

#abilities {
	width: 90%;
	margin: auto;
}


/* header & footer styles */
header, footer {
	color: ghostwhite;
}

header {
	background-color: rgb(114, 38, 38);
	padding-top: 0.1em;
	margin: 0;
	height: 140px
}

.title,
.tagline {
	font-family: PT Serif;
	margin-left: 10%;
}

.title {
	margin-bottom: 0;
}

.tagline {
	margin-top: 0.5em;
}

footer {
	background-color: black;
	padding: 1em;
	height: 130px;
}


/* nav styles */

nav {
	background-color: black;
	width: 100vw;
	margin: 0;
}

nav ul {
	text-align: center;
}

nav ul li {
	list-style: none;
	display: inline-flex;
	margin: auto;
}

nav .link a {
	color: ghostwhite;
	background-color: black;
	padding: 0.75em;
}

nav .link a:visited {
	color: ghostwhite;
}

nav .link a:hover {
	color: darkred;
	background-color: white;
}

nav .link a:focus {
	color: darkred;
	background-color: ghostwhite;
}

nav .link a:active {
	color: black;
	background-color: ghostwhite;
}

/* media queries */
@media only screen and (min-width: 32em) {
	html {
		color: ghostwhite;
	}
	html,
	body {
		background-image: url(../images/wall-texture.jpg);
		background-size: 32em;
		background-repeat: repeat;
	}
	#content {
		background-color: rgba(0, 0, 0, 0.75);
	}
}
